/*
colors
#0D2C4D
#2375CC
#062B52
#1A5799

*/

* {
  box-sizing: border-box;
}

body {
  margin: 0
}

.main-header {
  background: #0D2C4D;
  color: white;
  text-align: center;
  height: 4rem;
  vertical-align: middle;
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  font-size: 2rem;
  font-family: 'arial';
  z-index: 1;
  box-shadow: 1px -3px 9px 3px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px -3px 9px 3px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 1px -3px 9px 3px rgba(0, 0, 0, 0.75) inset;
}

.main-header__text {
  margin: auto;
}

.main-container {
  background: radial-gradient(circle at 50% 20%, rgba(0, 212, 255, 1) 0%, rgba(6, 50, 89, 1) 100%);
  padding-top: 4rem;
  height: 100vh;
  background-clip: top 20% right 10%;


}